.bottom-cont{
    background-image: url("/assets/Rectangle\ 5.png"), url("/assets/bottom-cont-image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 84px 360px;
}
.bottom-cont h2{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}
.bottom-cont button {
    color: white;
    padding: 32px 44px;
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #39C2D7;
    border: none;
    border-radius: 100%;
    margin: 53px 0 70px 0;
}
.bottom-cont button span{
    margin-left: 7px;
}
.bottom-cont h3{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}