footer{
    background-color: #464547;
    padding: 21px 140px;
}
footer div:first-child{
    display: flex;   
}
footer div:first-child img{
    max-width: 20px;
}
footer div:first-child h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 2px 0 0 16px;
}
footer div, footer div a {
    margin-top: 14px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
footer span {
    display: flex;
    margin-top: 5px;
}