.your-headline-here{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 0 256px 0;
}
.your-headline-here img{
    max-width: 63px;
}
.your-headline-here h1{
    color: var(--base-color);
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}
.your-headline-here h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 42px;
    opacity: 90%;   
}
.mid-cont{
    margin: 87px 120px 100px 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid-cont h2{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
}
.mid-cont h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 40px;
    color: #666666;
}
.mid-cont p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
}
.mid-cont button {
    display: flex;
    justify-content: center;
    font-family: Oswald;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    background: #55C2D8;
    padding: 6px 17px;
    text-transform: uppercase;
    border-radius: 18px;
    margin-top: 35px;
}